
body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #AA3939;
}

h1, h2 {
    text-align: center;
}


header.border-bottom {
    border-color: #550000 !important;
}

.border-bottom {
    border-color: #550000 !important;
}



.carousel {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}



.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


section {
    background-color: transparent;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}



.app-nick {
   
    color: #495057;
    
}


.nav-button {
    background-color: transparent !important;
    color: #FFAAAA !important;
    border: 1px solid #FFAAAA;
    border-radius: 25px;
    padding: 0.5rem 1.5rem !important;
    font-weight: 500;
    transition: all 0.3s ease;
    margin: 0 5px;
}

.nav-button:hover {
    background-color: #D46A6A !important;
    color: #FFAAAA !important;
    border-color: #D46A6A;
}

.nav-button.active {
    background-color: #D46A6A !important;
    color: #FFAAAA !important;
    border-color: #D46A6A;
}




